.App {
  text-align: center;
  background-image: url(https://dice-media.imgix.net/attachments/2022-05-16/23490a75-47d4-4a81-b3bd-68febbc41af0.jpg?rect=0%2C0%2C935%2C935);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-size: 235px;
  background-position: sticky;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
